
/* All page's styles */

body {
	background: #222;
}

.header {
	font-size: 16px;
}

.header .bold-font {
	font-weight: bold;
}

.footer {
	border-top: solid 1px white;
	color: white;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}

.footer>.row {
	margin: 20px 0;
}

.footer>.row>div {
	/*background: #333;*/
	border-top: none;
}

.nav>li>a {
	color: black;
}

/* Main page's styles */

.slider-wrapper {
	background: #000;
	margin-top: 50px;
}

.carousel-caption h2 {
	font-size: 56px;
}

.carousel-caption p {
	font-size: 18px;
}

.main-page-content {
	color: white;
	padding: 20px;
}

.little-row {
	margin-top: 20px;
}

.little-shedule {
	background: rgb(248, 248, 248);
	color: #27606B;
	font-size: 16px;
}

.little-shedule .list-group-item {
	background: rgb(248, 248, 248);
	height: 50px;
}

.little-shedule .badge {
	background: rgb(248, 248, 248);
	color: #27606B;
	line-height: 15px;
}

.little-contacts {
	background: #3B96A6;
	height: 228px;
	font-size: 16px;
}

.little-contacts-content .list-group-item:hover {
	background: #27606B;
	color: white;
}

.little-contacts .list-group-item {
	background: #3B96A6;
	height: 50px;
	color: white;
}

.little-contacts .btn-primary {
	background: #27606B;
	margin-top: 23px;
}

.little-contacts .btn-primary:hover {
	background: #1C4B54;
}

.little-free-training {
	background: #27606B;
	height: 228px;
	font-size: 16px;
}

.little-free-training-content {
	padding: 20px;
}

.little-free-training .btn-primary {
	background: #3B96A6;
	margin-top: 16px;
}

.little-free-training .btn-primary:hover {
	background: #278393;
}

.little-shedule h5, .little-contacts h5, .little-free-training h5 {
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	font-size: 18px;
}

.news-header {
	color: #DDD;
	margin-left: 40px;
	font-size: 22px;
}

.news-and-sections {
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 25px;
}

.new-1, .new-2, .new-3, .section-1, .section-2, .section-3 {
	margin-left: 10px;
	margin-bottom: 20px;
}

.news h2, .sections h2 {
	border-bottom: solid 1px white;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.news-and-sections .btn-block {
	color: #F8F8F8;
	font-size: 22px;
}

.news a, .sections a {
	margin-bottom: 10px;
}
 
.new-1, .new-2, .new-3 {
	padding: 25px;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
	border-radius: 5px;
}

.new-1:hover, .new-2:hover, .new-3:hover {
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
	background: #27606B;
}

.section-1, .section-2, .section-3 {
	padding: 25px;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
	border-radius: 5px;
} 

.section-1:hover, .section-2:hover, .section-3:hover {
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
	background: #27606B;
}


/* About us page's style*/

.content-about-us {
	color: white;
	margin-top: 50px;
}

/* Vacancies page's style */

.content-vacancies {
	color: white;
	margin-top: 100px;
}

/* Add news page's style */

.content-add-news {
	margin-top: 50px;
	color: #CCC;
}

.content-add-news>.row h1 {
	margin-left: 50px;
}

.content-add-news h3 {
	margin-left: 5px;
}

form {
	margin-left: 50px;

}

#head {
	width: 400px;
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	opacity: 0.6;
	background: black;
	border: none;
	color: white;
	padding: 5px 5px;
}

textarea {
	height: 300px;
	width: 60%;
	border: none;
	opacity: 0.6;
	color: white;
	background: black;
	padding: 10px 10px;
	font-size: 16px;
	margin-bottom: 30px;
}

.content-add-news button {
	margin-left: 550px;
	margin-top: -10px;
	background: black;
	color: white;
}

.btn-wrapper {
	margin-bottom: 20px;
}

.header-pic-will-be-here {
	width: 100%;
	height: 400px;
	background: #888;
	margin-bottom: 40px;
}

.pic-will-be-here-1 {
	width: 400px;
	height: 300px;
	background: #AAA;
	float: left;
	margin-right: 40px;
	margin-bottom: 40px;
}
