body {
	background: #222;
}

.slider-wrapper {
	background: #000;
}

.third-slide {
	float: right;
}

.news {
	margin-top: 20px;
	margin-bottom: 20px;
}
.news>div {
	color: white;
}

.news h5 {
	background: #333;
	height: 40px;
	font-size: 20px;
	padding-left: 20px;
	line-height: 40px;
}

.news-content {
	background: #333;
	padding: 20px;
}

.footer {
	border-top: solid 1px red;
	color: white;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}