
/* All page's styles */



body {
	background: #222;
}

/*   navbar menu font size   */
.header {
	font-size: 16px;
}

/*   navbar menu background   */
.navbar {
	background: #E8E8E8;
}

/*   navbar colours  */
.navbar-nav .active a {
	background: #3B96A6 !important;
	color: white !important;
	border-bottom: none;
}

/*   bold font for free training in navbar*/
.header .bold-font {
	font-weight: bold;
}

/*   footer  */
.footer {
	border-top: solid 1px white;
	color: white;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}

/*   footer column sizing*/
.footer>.row {
	margin: 20px 0;
}





/* Modal page's styles*/

.modal h4 {
	margin-left: 40px;
	margin-top: 10px;
}

/*   distance between input lines on modal window   */
.modal-body .row {
	margin-top: 24px;
}

.modal-body .form-control {
	width: 200px;
}

.modal-body label {
	line-height: 30px;
}






/* Main page's styles */

.slider-wrapper {
	background: #000;
}

/*  font size of main slogans on carousel   */
.carousel-caption h2 {
	font-size: 56px;
}

/*   font size of subslogans on carousel   */
.carousel-caption p {
	font-size: 18px;
}

/*   some text on main page   */
.main-page-content {
	color: white;
	padding: 20px;
}

/*   distance between slider and little-panel*/
/*   little panel is panel with shedule, map and free train invitation*/
.little-row {
	margin-top: 20px;
}

.little-shedule {
	background: rgb(248, 248, 248);
	color: #27606B;
	font-size: 16px;
}

.little-shedule .list-group-item {
	background: rgb(248, 248, 248);
	height: 50px;
	border: none;
}

.little-shedule .badge {
	background: rgb(248, 248, 248);
	color: #27606B;
	line-height: 15px;
}

.little-contacts {
	background: #3B96A6;
	height: 228px;
	font-size: 16px;
}

.little-contacts-content .list-group-item:hover {
	background: #27606B;
	color: white;
}

.little-contacts .list-group-item {
	background: #3B96A6;
	height: 50px;
	color: white;
}

.little-contacts .btn-primary {
	background: #27606B;
	margin-top: 23px;
}

.little-contacts .btn-primary:hover {
	background: #1C4B54;
}

.little-free-training {
	background: #27606B;
	height: 228px;
	font-size: 16px;
}

.little-free-training-content {
	padding: 20px;
}

.little-free-training .btn-primary {
	background: #3B96A6;
	margin-top: 16px;
}

.little-free-training .btn-primary:hover {
	background: #278393;
}

.little-shedule h5, .little-contacts h5, .little-free-training h5 {
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	font-size: 18px;
}

/*   block with news and section*/
.news-and-sections {
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 25px;
}

.new-1, .new-2, .new-3, .section-1, .section-2, .section-3 {
	margin-left: 10px;
	margin-bottom: 20px;
}

.news h2, .sections h2 {
	border-bottom: solid 1px white;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.news-and-sections .btn-block {
	color: #F8F8F8;
	font-size: 22px;
}

.news a, .sections a {
	margin-bottom: 10px;
}
 
.new-1, .new-2, .new-3 {
	padding: 25px;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
	border-radius: 5px;
}

.new-1:hover, .new-2:hover, .new-3:hover {
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
	background: #27606B;
}

.section-1, .section-2, .section-3 {
	padding: 25px;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
	border-radius: 5px;
} 

.section-1:hover, .section-2:hover, .section-3:hover {
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
	background: #27606B;
}

/* Add news page's style */

.content-add-news {
	color: white;
}

.content-add-news>.row h1 {
	margin-left: 50px;
}

.content-add-news h3 {
	margin-left: 5px;
}

form {
	margin-left: 50px;

}

#head {
	width: 300px;
}

#new-content {
	width: 600px;
	height: 100px;
}

.content-add-news button[type="submit"] {
	margin-left: 465px;
	margin-top: 20px;
}


/*   registration page style*/

.registration-content {
	color: white;
}

.registration-content input {
	color: black;
	height: 34px;
	margin-top: 25px;
	width: 300px;
}

.registration-content h2 {
	margin-left: 100px;
	font-size: 32px;
}

.registration-content form {
	margin-top: 50px;
}

.registration-content label, .registration-content select {
	font-weight: normal;
	margin-top: 26px;
}

.space {
	height: 50px;
	width: 100%;
}

.important-field {
	color: red;
}

select, option {
	color: black !important;
}

.registration-content select {
	width: 120px;
}

.registration-content .btn-submit {
	margin-right: 61px;
}

.registration-content .btn-clean {
	margin-right: 10px;
}

.registration-content h5 {
	margin-top: 25px;
	margin-left: 30px;
	margin-bottom: 0px;
}

/* free training page*/

.free-training-content {
	margin-top: 50px;
	color: white;
}

.free-training-content input {
	color: black;
	height: 34px;
	margin-top: 25px;
	width: 300px;
}

.free-training-content input[type="date"] {
	width: 123px;
}

.free-training-content h2 {
	margin-left: 100px;
	margin-top: 50px;
	font-size: 32px;
}

.free-training-content form {
	margin-top: 50px;
}

.free-training-content label, .free-training-content select {
	font-weight: normal;
	margin-top: 26px;
}

#day, #year, #month {
	width: 97px;
	display: inline-block;
}

.free-training-content p {
	margin-top: 20px;
	color: #BB5353;
}

.free-training-content .btn-submit {
	margin-right: 61px;
}

.free-training-content .btn-clean {
	margin-right: 10px;
}

/*     personal page style    */

.personal-page h2 {
	color: white;
	margin-left: 30px;
	margin-top: 25px;
}

.personal-page nav {
	margin-top: 30px;
	margin-left: 30px;
}

.personal-page .pagination>li>a {
	color: white;
	background: #222;
}

.personal-page .pagination>li>a:hover {
	background: #444;
}

.training-table {
	width: 700px;
	color: white;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.training-table #exercise-name {
	font-size: 28px;
	border-top: none;
}

.training-table .last-attempt {
	border-bottom: 1px solid white;
}

.personal-page li .active {
	background: #3B96A6 !important;
}